Phonetic_Export/*.html linguist-detectable=false
phonetic_toolbox/gui/resources/ipa_trans/*.html linguist-detectable=false
phonetic_toolbox/gui/resources/perception_experiment/*.html linguist-detectable=false
